<h3>Welcome to TinyApp!</h3>


<% if (user_id) {%>
  <form action="/logout" method="POST" style="margin:50px;">
    <button type="submit">Log out</button>
    <%= user_id %>
  </form>
  <a href="/urls">Your personal URLs!</a>
<% } else {%>
  <h1> Welcome! </h1>
  <p> <a href="/login">Login here!</a> </p>
<% } %>