Welcome to TinyApp!

<% if (user_id) {%>
<form action="/logout" method="POST" style="margin:50px;">
<button type="submit">Log out</button>
<%= user_id %>
<% } else {%>



<h1> Welcome... <%= user_id %> </h1>

<% } %>