<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <h1>shortURL: <%= shortURL %></h1>
  <ul>
  <form method="POST" action="/urls/<%= shortURL %>/update" value="<%= longURL %>">
    <input type="text" id="longURL" name="original" value="<%= longURL.longURL %>" style="width: 300px">
    <button type="submit">Update</button>
  </form>
  </ul>
</body>
</html>