<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
  <% include ./partials/_header %>
  <p>Below is the list of URLs in shortened forms</p>
    <ul>
      <% for(let key in urls) { %>
      <li>
      <form method="POST" action="/urls/<%= key %>/delete">
        <%= urls[key] %> - <%= key %>
        <a href="http://localhost:8080/urls/<%= key %>">Edit</a>
        <button type="submit">DELETE</button>
      </form>
      </li>
      <% } %>
    </ul>
  <a href="">link for shortening a new URL</a>
  </body>
</html>